@font-face {
  font-family: "PublicSans";
  src: url(../../font/PublicSans-Medium.ttf);
}

$font1: PublicSans, serif;

$BleuFonce: hsl(233, 26%, 24%);
$Vert: hsl(136, 65%, 51%);
$BleuClair: hsl(192, 70%, 51%);

$BleuGris: hsl(233, 8%, 62%);
$BleuGrispetit: hsl(220, 16%, 96%);
$UnpeuGris: hsl(0, 0%, 98%);
$Blanc: hsl(0, 0%, 100%);

* {
  font-family: $font1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin Spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin Margin {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2.5%;
}
a {
  text-decoration: none;
  color: rgb(180, 173, 173);
}
li {
  list-style: none;
}
body {
  font-family: $font1;
  overflow-x: hidden;
}
button {
  transition: 0.2s ease-in;
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  padding: 13px 25px;
  color: $Blanc;
  background: rgb(49, 207, 110);
  background: linear-gradient(
    90deg,
    rgba(49, 207, 110, 1) 22%,
    rgba(48, 199, 146, 1) 31%,
    rgba(43, 185, 207, 1) 82%
  );
}
button:hover {
  filter: brightness(1.2);
}

#Absolute2 {
  background: url(../../images/image-mockups.png) center/cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
  max-width: 682px;
  top: 15%;
  left: 50%;
  position: absolute;
  z-index: 2;
  @media screen and (max-width: 980px) {
    width: 58%;
    left: 40%;
  }
  @media screen and (max-width: 750px) {
    left: 50%;
    top: 24%;
    width: 73%;
    min-width: 450px;
    transform: translate(-50%, -50%);
    height: 667px;
  }
}

@media screen and (max-width: 750px) {
  .Absolute1 img {
    display: none;
  }
  .Absolute1 {
    background: url(../../images/bg-intro-mobile.svg) center/cover;
  }
}
// main {
//   background-color: gray;
//   padding: 50px;
//   margin: 0 auto;
//   max-width: 1500px;
// }
// .main-2 {
//   display: flex;
//   justify-content: center;
// }
// .main-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   max-width: 1200px;

//   margin: 0 auto;
//   display: flex;
//   gap: 15px;
// }
// h3 {
//   margin: 20px 0;
// }
// p {
//   width: 80%;
//   display: flex;
//   text-wrap: balance;
// }
// @media screen and (max-width: 1232px) {
//   main {
//     padding: 10px;
//   }
//   p {
//     height: 150px;
//     width: 100%;
//   }
// }
